---
import Layout from '../layouts/Layout.astro';
import Carousel from '../components/Carousel.astro';
import SocialFloat from "../components/SocialFloat.astro";
---

<Layout 
	title="Dangerous Sitio Oficial"
	titleTemplate="%s"
	description="Explora nuestro contenido oficial, música, fechas de shows y mucho más."
	canonical="https://dangerous.cl/"
>
	<main>
		<Carousel />
		<SocialFloat />
	</main>
</Layout>
